body{
    background:rgba(205, 235, 248, 0.48);
}
.outer-pokedex{
     display: flex;
    flex-direction: column;
    align-items: center;
}
#pokedex-heading{
    letter-spacing: 5px;
    margin: 0 auto;
}
 
a:visited {
    color:black;
    text-decoration:none;
}